/* Fira sans Fonts */
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

/* shared styles */
.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.section-description{
     font-size: 16px;
    color: #0E0E0E;
}
.btn-primary{
    padding: 13px 26px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
}
.text-primary{
     background-color: #b1f0d5;
}
.text-center{
    text-align: center;
}

/* header styles */
header,
main {
    max-width: 1280px;
    margin: 0px auto;
}

/*  */
body {
    background-color: #F1F1F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
}

.btn-sing-in {
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;

}

/* banner styles */
.banner {
    /* background-color: #b1f0d5; */
    display: flex;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.banner-content {
    width: 622px;
    padding: 117px 0px 117px 56px;
}

.banner-pic img {
    width: 474px;
    padding: 80px 60px 80px 0px;
}

.banner-title {
    font-size: 24px;
    font-weight: 500px;
    color: #0E0E0E;
}

.banner-description {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

.btn-banner {
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
}

/* Pillars section styles */

.pillar-container {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
}

.pillar {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}

.pillar-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

/* vision section styles */
.vision-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.digital{
    background-color: #D6E4FD;
}
.green{
    background-color: #b9f0d6;
}
.modern{
    background-color: #e9e1ce;
}
.vision{
    padding: 32px;
    border-radius: 16px;
}
.vision-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn-vision{
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}
#btn-digital{
    background-color: #5490F5;
}
#btn-green{
    background-color: #09A15C;
}
#btn-modern{
    background-color: #FFC239;
}
/* opinion section styles */
.opinion-title{
    display: flex;
    justify-content: space-between;
    background-color:#b5e4cf;
}
/* Recent News section styles */
.news-container{
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.news-container img{
    border-radius: 16px;
}
.content-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* donate today section */
.donate{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}
.taka{
    background-color: white;
    padding: 40px 50px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #4d4b4b;
}
#taka-200{
         background-color: #b1f0d5;
}
.donate-today input[type='text']{
    padding: 20px 40px;
    width: 1032px;
    border: none;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 20px;
    
   
    
}
.donate-today input::placeholder{
    text-align: center;
}
