/* Fira sans Fonts */
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
/* shared styles */


/* header styles */
header, main{
    max-width: 1280px;
    margin: 0px auto;
}
/*  */
body{
    background-color: #F1F1F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
}
.btn-sing-in{
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    
}
/* banner styles */
.banner{
    background-color: #DBFFEF;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.banner-content{
    width: 622px;
    padding: 117px 0px 117px 56px;
}
.banner-pic img{
    width: 474px;
    padding: 80px 60px 80px 0px;
}
.banner-title{
    font-size: 24px;
    font-weight: 500px;
    color: #0E0E0E;
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn-banner{
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
}
/* Pillars section styles */
.pillars-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.pillar-container{
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
}
.pillar{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}
.pillar-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}
.pillar-description{
    font-size: 16px;
    color: #0E0E0E;
}